.incomplete-to-do-list-section {
  margin-bottom: 50px;
}

.list {
  list-style: none;
}

.list input[type='checkbox'] {
  transform: scale(1.2);
}

.list li {
  margin: 15px 0px;
}

.list label {
  margin-left: 20px;
}

.completed {
  text-decoration: line-through;
}

.list-section {
  margin-bottom: 100px;
}
