.inputFormSection {
  margin: 70px 0px;
}

.alert {
  color: red;
  margin: 25px 0px;
  font-style: italic;
}

form {
  display: flex;
}

input {
  flex: 5;
}

input[type='submit'] {
  flex: 1;
  background-color: black;
  color: white;
  padding: 8px 0px;
}
